.actions{
    display: flex;
    height: 50px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 10px;
    margin-bottom: 10px;

    &:hover{
        background-color: rgba(205, 211, 211, 0.452);
    }

   
}



.container{
    padding: 25px;
}

h2{
    color: #435e5d;
}

.delete{
    cursor: pointer;
    color: red;
}